@{ 
    Layout = null;


} 
<style>
   .body
   {
       font-size:16px!important;
   }
</style>
<html dir="rtl" lang="en">
 <!--<![endif]-->
<head>
    <title>أمانتك</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon -->
     <link rel="shortcut icon" href="~/Content/img/icon.png" type="image/x-icon">
    <link rel="icon" href="~/Content/img/icon.png" type="image/x-icon">
    <!-- Web Fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=cyrillic,latin">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,300,500,700&amp;subset=latin,cyrillic">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/Content/homePageCss/assets/plugins/bootstrap/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="~/Content/homePageCss/assets/css/rtl/app-rtl.css">
    <link rel="stylesheet" href="~/Content/homePageCss/assets/css/rtl/blocks-rtl.css">
    <link rel="stylesheet" href="~/Content/homePageCss/assets/css/rtl/plugins-rtl.css">
    <link rel="stylesheet" href="~/Content/homePageCss/assets/css/rtl/one.style-rtl.css">
    <!-- CSS Footer -->
    <link rel="stylesheet" href="~/Content/homePageCss/Custom/assets/css/rtl/footers/footer-v7-rtl.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/Content/homePageCss/assets/plugins/animate.css">
    <link rel="stylesheet" href="~/Content/homePageCss/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="~/Content/homePageCss/assets/plugins/font-awesome/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="~/Content/homePageCss/assets/plugins/owl-carousel2/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/homePageCss/assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="~/Content/homePageCss/assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="~/Content/homePageCss/Custom/assets/css/rtl/Coustom.css">
    <link rel="stylesheet" href="~/Content/homePageCss/Custom/assets/css/rtl/rtl.css">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/Content/homePageCss/Custom/assets/css/rtl/custom-rtl.css">
</head>
<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery">
    <!--=== Header ===-->
    <nav class="one-page-header one-page-header-style-2 navbar navbar-default navbar-fixed-top architecture-nav one-page-nav-scrolling one-page-nav__fixed" role="navigation">
        <div class="container">
            <div class="page-scroll">
                <a class="logo-link navbar-brand logo-left" href="#intro">
                    <img class="default-logo" src="~/Content/homePageCss/assets/img/logo.png" alt="Logo">
                   
                </a>
            </div>
            <div class="menu-container page-scroll">
                <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="container no-padding-left ">
                <div class="row collapse navbar-collapse navbar-ex1-collapse">
                    <div class="col-md-5 no-side-padding">
                        <div class="left">
                            <div class="menu-container">
                                <ul class="nav navbar-nav">
                                    <li class="page-scroll home">
                                        <a href="#home">الصفحة الرئيسية</a>
                                    </li>
                                    <li class="page-scroll">
                                        <a href="">تسجيل الدخول</a>
                                    </li>
                                    <li class="page-scroll">
                                        <a href="#services">الطلبات</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 no-side-padding">
                        <div class="center-block logo page-scroll">
                            <a class="logo-link navbar-brand logo-centered" href="#intro">
                                <img class="default-logo" src="~/Content/homePageCss/assets/img/logo.png" alt="Logo">
                               @*<img class="shrink-pace logo" src="~/Content/homePageCss/assets/img/logo.png" alt="Logo">*@
                            </a>
                        </div>
                    </div>
                    <div class="col-md-5 no-side-padding">
                        <div class="right">
                            <div class="menu-container">
                                <ul class="nav navbar-nav">
                                   
                                    <li class="page-scroll home">
                                        <a href="#gallery">الخدمات</a>
                                    </li>
                                    <li class="page-scroll">
                                        <a href="#awards">حول أمانتك</a>
                                    </li>
                                    <li class="page-scroll">
                                        <a href="#contact">الاتصال بنا</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </nav>
    <!--=== End Header ===-->
    <!-- Promo block BEGIN -->
  
    <!-- Promo block END -->
    <!--About Section-->
    <section id="home">
        <div style="height:590px; background-color:beige" ><br /><br />
            <div style="margin-right:400px;margin-top:180px;background-color:beige">
                <video id='video' controls autoplay preload='auto' width="600"  loop="loop" >
                    <source id='mp4' src="~/Content/HomePageCss/assets/img/4g7tr-p4isq.mp4" type='video/mp4' />
                   
                </video>
               
              
                @*<img src="~/Content/HomePageCss/assets/img/ezgif.com-resize.gif" />*@
            </div>
        </div>
    </section>
    @*<section id="about">
        <div class="container content-lg">
            <div class="g-heading-v7 text-center g-mb-70">
                <h2 class="h2"><em class="block-name"></em> تسجيل الدخول</h2>
            </div>
            <!-- all for your comfort blocks -->
            <div class="reg-block">
                <div class="reg-block-header">
                    
                    <ul class="social-icons text-center">
                        <li><a class="rounded-x social_facebook" href="#" data-original-title="Facebook"></a></li>
                        <li><a class="rounded-x social_twitter" href="#" data-original-title="Twitter"></a></li>
                        <li><a class="rounded-x social_googleplus" href="#" data-original-title="Google Plus"></a></li>
                        <li><a class="rounded-x social_linkedin" href="#" data-original-title="Linkedin"></a></li>
                    </ul>
                    <p> اذا كنت لا تملك حساب اضغط الرابط للتسجيل<a class="color-green" href="page_registration1.html">للتسجيل</a> </p>
                </div>
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input class="form-control"style="width: 300px;" type="text" placeholder="البريد الالكتروني">
                </div>
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input class="form-control" type="text" style="width: 300px;" placeholder="كلمة المرور">
                </div>
                <hr>
                <div class="checkbox">
                    <label>
                        <input type="checkbox">
                        <p>تذكرني</p>
                    </label>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <button class="btn-u btn-block" type="submit" style="width:150px;">دخول</button>
                    </div>
                </div>
            </div>
            <!-- modal popup window -->
            <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button"><i class="fa fa-times"></i></button>
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-body">

                            <div class="modal-top margin-bottom-40">
                                <img src="~/Content/homePageCss/Custom/assets/img-temp/projects/img1.jpg" alt="">
                               
                            </div>
                            <div class="modal-bot g-heading-v7">
                                <h3 class="g-color-white">Omom sociis natoque penatibus</h3>
                                <p class="margin-bottom-30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Omom sociis natoque penatibus.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Omom sociis natoque penatibus.</p>
                                <p class="margin-bottom-30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Omom sociis natoque penatibus.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                                <p class="margin-bottom-30"><img src="~/Content/homePageCss/Custom/assets/img-temp/wp5.jpg" alt=""></p>
                                <p class="margin-bottom-30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Omom sociis natoque penatibus.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                                <p class="margin-bottom-30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Omom sociis natoque penatibus.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
    <!--End of About Section-->
    <!--Services Section-->
    <section id="services">
        <div class="container-fluid bg-color-com service-section">
            <div class="container content-md">
                <div class="row g-mb-70 g-heading-v7 text-center">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                        <h2 class="h2 g-color-white g-mb-30"><em class="block-name"></em> الخدمات المقدمة</h2>
                        <p class="g-color-white-darker">يقدم نظام أمانتك الخدمات التالية</p>
                        <br /><table style="margin-right:120px;" width="500px"><tr><td><div style=""><a style="height:120px;width:130px;vertical-align:middle;" href="" class="btn btn-danger" ><br /><br />بلاغ مفقودات</a></div></td>
                             <td>
                                 <a style="height:120px;width:130px;vertical-align:middle;" href="" class="btn btn-danger" ><br /><br />متابعة طلب</a>
                             </td>
                             </tr></table>
                    </div>
                </div>
                <!-- Owl Carousel v4 we create amazing things-->
                <div>
                   
                </div>
                <!-- End Owl Carousel v4 -->
            </div>
        </div>
    </section>
    <!--End of Services Section-->
    <!--Projects Section-->
    
    <!--End of Projects Section-->
    <!--Team Section-->
    @*<section id="team">
        <div class="container-fluid bg-color-com team-section">
            <div class="container content-md g-heading-v7 text-center">
                <h2 class="h2 g-mb-70 g-color-white"><em class="block-name">Our team</em> Work with professionals</h2>
                <!-- Owl Carousel v4 team -->
                <div class="owl-carousel-v4 owl-theme">
                    <div class="owl-slider-v4-team">
                        <div class="item">
                            <img class="img-responsive" src="~/Content/homePageCss/Custom/assets/img-temp/t1.jpg" alt="">
                            <small class="owl-small">Technical Supervisor</small>
                            <span class="owl-span">James Novel</span>
                            <ul class="list-inline owl-list">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="~/Content/homePageCss/Custom/assets/img-temp/t2.jpg" alt="">
                            <small class="owl-small">Technical Director</small>
                            <span class="owl-span">Catrina Wearner</span>
                            <ul class="list-inline owl-list">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="~/Content/homePageCss/Custom/assets/img-temp/t5.jpg" alt="">
                            <small class="owl-small">Technical Manager</small>
                            <span class="owl-span">Fiona Biloti</span>
                            <ul class="list-inline owl-list">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="~/Content/homePageCss/Custom/assets/img-temp/t9.jpg" alt="">
                            <small class="owl-small">Head of Secretory</small>
                            <span class="owl-span">Samuel Calven</span>
                            <ul class="list-inline owl-list">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="~/Content/homePageCss/Custom/assets/img-temp/t4.jpg" alt="">
                            <small class="owl-small">Human Resources Manager</small>
                            <span class="owl-span">George Manuel</span>
                            <ul class="list-inline owl-list">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="~/Content/homePageCss/Custom/assets/img-temp/t6.jpg" alt="">
                            <small class="owl-small">Chief Interior Designer</small>
                            <span class="owl-span">Salma Irek</span>
                            <ul class="list-inline owl-list">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="~/Content/homePageCss/Custom/assets/img-temp/t8.jpg" alt="">
                            <small class="owl-small">Chief Engineer</small>
                            <span class="owl-span">Carl Sanchez</span>
                            <ul class="list-inline owl-list">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="~/Content/homePageCss/Custom/assets/img-temp/t3.jpg" alt="">
                            <small class="owl-small">Finance Manager</small>
                            <span class="owl-span">Julia Dolly</span>
                            <ul class="list-inline owl-list">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Owl Carousel v4 -->
            </div>
        </div>
    </section>*@
    <!--End of Team Section-->
    <!--Gallery Section-->
    <section id="gallery">
        <div class="gallery-section">
            <div class="container content-md g-heading-v7 text-center">
                <h2 class="h2 g-mb-70"><em class="block-name">Work process</em> test</h2>
                <!-- Tab v2 -->
                <div class="tab-v2">
                    <div class="tab-content">
                        <div class="tab-pane fade in active g-mb-100" id="discuss-1">
                            <!-- Owl Carousel v4 tab content-->
                            <div class="owl-carousel-v4 owl-theme">
                                <div class="owl-slider-v4-gallery">
                                    <div class="item">
                                        <img src="~/Content/homePageCss/Custom/assets/img-temp/wp1.jpg" alt="">
                                        <h3>Projects of resdential buildings</h3>
                                        <p class="g-color-black-lighter">Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Etiam sit amet orci eget eros.</p>
                                    </div>
                                    <div class="item">
                                        <img src="~/Content/homePageCss/Custom/assets/img-temp/wp2.jpg" alt="">
                                        <h3>Projects of resdential buildings</h3>
                                        <p class="g-color-black-lighter">Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Etiam sit amet orci eget eros.</p>
                                    </div>
                                    <div class="item">
                                        <img src="~/Content/homePageCss/Custom/assets/img-temp/wp3.jpg" alt="">
                                        <h3>Projects of resdential buildings</h3>
                                        <p class="g-color-black-lighter">Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Etiam sit amet orci eget eros.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Owl Carousel v4 -->
                        </div>
                        <div class="tab-pane fade in static-tab" id="concept-1">
                            <img src="~/Content/homePageCss/Custom/assets/img-temp/wp4.jpg" alt="">
                            <h3>Projects of resdential buildings</h3>
                            <p class="g-color-black-lighter">Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Etiam sit amet orci eget eros.</p>
                            <!-- End Owl Carousel v4 -->
                        </div>
                        <div class="tab-pane fade in static-tab" id="modeling-1">
                            <img src="~/Content/homePageCss/Custom/assets/img-temp/wp5.jpg" alt="">
                            <h3>Projects of resdential buildings</h3>
                            <p class="g-color-black-lighter">Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Etiam sit amet orci eget eros.</p>
                            <!-- End Owl Carousel v4 -->
                        </div>
                        <div class="tab-pane fade in static-tab" id="clients-1">
                            <img src="~/Content/homePageCss/Custom/assets/img-temp/wp6.jpg" alt="">
                            <h3>Projects of resdential buildings</h3>
                            <p class="g-color-black-lighter">Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Etiam sit amet orci eget eros.</p>
                            <!-- End Owl Carousel v4 -->
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a class="tab-1" href="#discuss-1" data-toggle="tab">
                                    <strong>Discuss</strong>
                                    <span class="g-color-white-darker">Lorem ipsum dolor sit amet.</span>
                                </a>
                            </li>
                            <li>
                                <a class="tab-2" href="#concept-1" data-toggle="tab">
                                    <strong>Creative concept</strong>
                                    <span class="g-color-white-darker">Lorem ipsum dolor sit amet.</span>
                                </a>
                            </li>
                            <li>
                                <a class="tab-3" href="#modeling-1" data-toggle="tab">
                                    <strong>3D modeling</strong>
                                    <span class="g-color-white-darker">Lorem ipsum dolor sit amet.</span>
                                </a>
                            </li>
                            <li>
                                <a class="tab-4" href="#clients-1" data-toggle="tab">
                                    <strong>Happy clients</strong>
                                    <span class="g-color-white-darker">Lorem ipsum dolor sit amet.</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Tab v2 -->
            </div>
            <div class="container-fluid bg-color-com content-md no-side-padding">
                <div class="container">
                    <div class="row g-mb-50 g-heading-v7 text-center">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                            <h2 class="h2 g-color-white g-mb-30"><em class="block-name">Our technologies</em> How we create</h2>
                            <p class="g-color-white-darker">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
                        </div>
                    </div>
                </div>
                <!-- Owl Carousel v4 gallery-->
                <div class="owl-carousel-v4 owl-theme">
                    <div class="owl-slider-v4-gallery-2">
                        <div class="item">
                            <img src="~/Content/homePageCss/Custom/assets/img-temp/ot1.jpg" alt="">
                            <h3><a href="#">Projects of resdential buildings</a></h3>
                            <p class="g-color-white-darker">Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
                        </div>
                        <div class="item">
                            <img src="~/Content/homePageCss/Custom/assets/img-temp/ot2.jpg" alt="">
                            <h3><a href="#">Projects of resdential buildings</a></h3>
                            <p class="g-color-white-darker">Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
                        </div>
                        <div class="item">
                            <img src="~/Content/homePageCss/Custom/assets/img-temp/ot3.jpg" alt="">
                            <h3><a href="#">Projects of resdential buildings</a></h3>
                            <p class="g-color-white-darker">Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
                        </div>
                        <div class="item">
                            <img src="~/Content/homePageCss/Custom/assets/img-temp/ot4.jpg" alt="">
                            <h3><a href="#">Projects of resdential buildings</a></h3>
                            <p class="g-color-white-darker">Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
                        </div>
                        <div class="item">
                            <img src="~/Content/homePageCss/Custom/assets/img-temp/ot5.jpg" alt="">
                            <h3><a href="#">Projects of resdential buildings</a></h3>
                            <p class="g-color-white-darker">Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
                        </div>
                        <div class="item">
                            <img src="~/Content/homePageCss/Custom/assets/img-temp/ot6.jpg" alt="">
                            <h3><a href="#">Projects of resdential buildings</a></h3>
                            <p class="g-color-white-darker">Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
                        </div>
                        <div class="item">
                            <img src="~/Content/homePageCss/Custom/assets/img-temp/ot1.jpg" alt="">
                            <h3><a href="#">Projects of resdential buildings</a></h3>
                            <p class="g-color-white-darker">Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
                        </div>
                        <div class="item">
                            <img src="~/Content/homePageCss/Custom/assets/img-temp/ot2.jpg" alt="">
                            <h3><a href="#">Projects of resdential buildings</a></h3>
                            <p class="g-color-white-darker">Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
                        </div>
                        <div class="item">
                            <img src="~/Content/homePageCss/Custom/assets/img-temp/ot3.jpg" alt="">
                            <h3><a href="#">Projects of resdential buildings</a></h3>
                            <p class="g-color-white-darker">Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
                        </div>
                    </div>
                </div>
                <!-- End Owl Carousel v4 -->
            </div>
        </div>
    </section>
    <!--End of Gallery Section-->
    <!--Awards Section-->
    <section id="awards">
        <div class="awards-section">
            <div class="container content-md">
                <div class="row">
                    <div class="col-md-3 g-heading-v7 text-center">
                        <h2 class="h2 g-mb-30"><em class="block-name"></em>أمانتك</h2>
                        <p class="g-mb-30">تعتبر المفقودات والمعثورات أحد المشاكل المتكررة التي تواجه الحجيج في رحلتهم والتي تلقي بعبء كبير على كاهل السلطات المختصة.</p>
                    </div>
                    <!-- awards -->
                    <div class="col-md-9 awards-desc">
                        <div class="row">
                            <br>
                            <div class="row">
                                تم تطوير منصة "أمانتك" لتحقيق هدفين في آن واحد:
                                1. التيسير على الحجيج في حل مشكلة المفقودات،
                                2. تخفيف العبء عن السلطات والأجهزة المختلفة.

                                كيفية عمل المنصة:
                                يتم تسجيل طلبات المفقودات من خلال الموقع الألكتروني، ويتولى معالجتها فريق مختص بهذا الشأن، حتى الوصول الى التسليم للمفقودات.

                                يقوم صاحب المفقودات ب:
                                1. تسجيل طلب للبحث عن مفقودات، مع تحديد المواصفات
                                2. متابعة حالة الطلب والتواصل والتحديثات للردود أونلاين
                                3. إلغاء الطلب السابق (في حال تم العثور على المفقودات)

                                <br /><br /><br /><br /><br /><br /><br />
                            </div>
                    </div>
                </div>
            </div>
        
        </div>
    </section>
    <!--End of Awards Section-->
    <!--Contact Section-->
    <section id="contact">
        <div class="container content-md g-heading-v7 text-center">
            <h2 class="h2 g-mb-70"><em class="block-name"></em> للتواصل معنا</h2>
            <!-- form and contatc information -->
            <div class="row">
                <div class="col-md-9 col-sm-6 form no-side-padding">
                    <form action="#" method="post" id="sky-form3" class="sky-form contact-style">
                        <fieldset>
                            <div class="row margin-bottom-30">
                                <div class="col-md-6 col-md-offset-0">
                                    <div>
                                        <input type="text" name="name" id="name" class="form-control" placeholder="الاسم">
                                    </div>
                                </div>
                                <div class="col-md-6 col-md-offset-0">
                                    <div>
                                        <input type="text" name="phone" id="phone" class="form-control" placeholder="رقم التواصل">
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-bottom-30">
                                <div class="col-md-6 col-md-offset-0">
                                    <div>
                                        <input type="text" name="email" id="email" class="form-control" placeholder="البريد الالكتروني *">
                                    </div>
                                </div>
                                <div class="col-md-6 col-md-offset-0">
                                    <div>
                                        <input type="text" name="subject" id="subject" class="form-control" placeholder="الموضوع">
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-bottom-30">
                                <div class="col-md-12 col-md-offset-0">
                                    <div>
                                        <textarea rows="4" name="message" id="message" class="form-control g-textarea-noresize" placeholder="الرسالة"></textarea>
                                    </div>
                                </div>
                            </div>
                            <p><button type="submit" class="btn-u btn-u-lg btn-u-bg-default btn-u-upper">ارســال</button></p>
                        </fieldset>
                        <div class="message">
                            <i class="rounded-x fa fa-check"></i>
                            <p>تم ارسال ملاحظتكم</p>
                        </div>
                    </form>
                </div>
             
            </div>
        </div>
        <div class="container-fluid no-side-padding">
            <!-- google maps -->
            <!-- 			<div class="map-div">
                            <i class="fa fa-map-marker icon"></i>
                            <button class="map-btn show-map" id="MapBtn" data-toggle="collapse" data-target="#map-wrapper">
                            Show map</button>
                        </div>

                        <div class="collapse" id="map-wrapper">
                            <div id="map"></div>
                        </div> -->
            
        </div>
        <!-- copyrights -->
        <div class="copyrights container-fluid bg-color-com page-scroll">
            <div clas="container">
                هاكثون الحج
               
            </div>
        </div>
    </section>
    <!--End of Contact Section-->
    <!-- JS Global Compulsory -->
    <script src="~/Content/homePageCss/assets/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/homePageCss/assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script src="~/Content/homePageCss/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script src="~/Content/homePageCss/assets/plugins/smoothScroll.js"></script>
    <script src="~/Content/homePageCss/assets/plugins/jquery.easing.min.js"></script>
    <script src="~/Content/homePageCss/assets/plugins/pace/pace.min.js"></script>
    <script src="~/Content/homePageCss/assets/plugins/owl-carousel2/owl.carousel.min.js"></script>
    <script src="~/Content/homePageCss/assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
    <script src="~/Content/homePageCss/assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="~/Content/homePageCss/assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script src="~/Content/homePageCss/assets/plugins/modernizr.js"></script>
    <script src="~/Content/homePageCss/assets/plugins/backstretch/jquery.backstretch.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&amp;callback=initMap" async defer></script>
    <script src="~/Content/homePageCss/Custom/assets/js/plugins/gmaps-ini-rtl.js"></script>
    <!-- JS Page Level-->
    <script src="~/Content/homePageCss/assets/js/one.app.js"></script>
    <script src="~/Content/homePageCss/Custom/assets/js/plugins/pace-loader.js"></script>
    <script src="~/Content/homePageCss/Custom/assets/js/plugins/owl-carousel2-rtl.js"></script>
    <script src="~/Content/homePageCss/Custom/assets/js/plugins/cube-portfolio-lightbox.js"></script>
    @*<script src="~/Content/homePageCss/Custom/assets/js/plugins/promo-rtl.js"></script>*@
    <script src="~/Content/homePageCss/Custom/assets/js/forms/contact.js"></script>
    <script>
		$(function() {
			App.init();
			OwlCarousel.initOwlCarousel();
			ContactForm.initContactForm();
		});
    </script>
    <!--[if lt IE 10]>
      <script src="~/Content/homePageCss/assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
    <![endif]-->
</body>
</html>
