@{
    Layout = null;




}

 <html class="js html css_verticalspacer">
<head>

    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="generator" content="2018.1.0.386" />




    <link rel="shortcut icon" href="~/Content/img/icon.png" type="image/x-icon">
    <link rel="icon" href="~/Content/img/icon.png" type="image/x-icon">
    <title>أمانتك</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/homePageCss/virsion/css/site_global.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/homePageCss/virsion/css/index.css" id="pagesheet" />
</head>
<body class="initialized" data-whatinput="mouse">





    <div class="clearfix" id="page">
        <!-- group -->
        <div class="clearfix grpelem" id="ppu1227">
            <!-- column -->
            <div class="clearfix colelem" id="pu1227">
                <!-- group -->
                <div class="browser_width grpelem" id="u1227-bw" style="height: 650px;">
                    <div class="museBGSize" id="u1227" style="background-attachment: fixed;">
                        <!-- group -->
                        <div class="clearfix" id="u1227_align_to_page">
                            <div class="PamphletWidget clearfix grpelem wp-slideshow-playing" id="pamphletu1228" data-contentlayout="stack" data-transitionstyle="vertical">
                                <!-- none box -->
                                <div class="ThumbGroup clearfix grpelem" id="u1233" role="tablist">
                                    <!-- none box -->
                                    <div class="popup_anchor" id="u1235popup">
                                        <div class="Thumb popup_element rounded-corners wp-tab-active PamphletThumbSelected" id="u1235" role="tab" tabindex="0" aria-selected="true" aria-controls="u1242" style=""><!-- simple frame --></div>
                                    </div>
                                    <div class="popup_anchor" id="u1234popup">
                                        <div class="Thumb popup_element rounded-corners" id="u1234" role="tab" tabindex="-1" aria-selected="false" aria-controls="u1240" style=""><!-- simple frame --></div>
                                    </div>
                                    <div class="popup_anchor" id="u1236popup">
                                        <div class="Thumb popup_element rounded-corners" id="u1236" role="tab" tabindex="-1" aria-selected="false" aria-controls="u1238" style=""><!-- simple frame --></div>
                                    </div>
                                </div>
                                <div class="popup_anchor" id="u1237popup">
                                    <div class="wp-slideshow-clip has_updated_clip_width" style="position: relative; width: 928px; height: 147px; overflow: hidden; left: 0px; top: 0px;">
                                        <div class="ContainerGroup clearfix has_updated_clip_width" id="u1237" style="width: 928px; height: 147px; position: relative; top: -421.707px; left: 0px; margin: 0px; overflow: visible;">
                                            <!-- stack box -->
                                            <div class="Container clearfix grpelem has_updated_clip_width wp-panel wp-panel-active" id="u1242" role="tabpanel" aria-labelledby="u1235" style="left: 0px; top: 441px; margin: 0px; position: absolute;">
                                                <!-- group -->
                                                <img class="grpelem" id="u1243-4" alt="أمانتك" width="863" height="130" src="~/Content/homePageCss/virsion/images/u1243-4.png" data-widget-id="pamphletu1228"><!-- rasterized frame -->
                                            </div>
                                            <div class="Container clearfix grpelem has_updated_clip_width wp-panel" id="u1240" role="tabpanel" aria-labelledby="u1234" style="left: 0px; top: 147px; margin: 0px; position: absolute;">
                                                <!-- group -->
                                                <img class="grpelem" id="u1241-4" alt="في البلد الأمين" width="863" height="75" src="~/Content/homePageCss/virsion/images/u1241-4.png" data-widget-id="pamphletu1228"><!-- rasterized frame -->
                                            </div>
                                            <div class="Container clearfix grpelem has_updated_clip_width wp-panel" id="u1238" role="tabpanel" aria-labelledby="u1236" style="left: 0px; top: 294px; margin: 0px; position: absolute;">
                                                <!-- group -->
                                                <img class="grpelem" id="u1239-4" alt="نوصلها إليك" width="863" height="75" src="~/Content/homePageCss/virsion/images/u1239-4.png" data-widget-id="pamphletu1228"><!-- rasterized frame -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="browser_width grpelem" id="u2751-bw" style="height: 55px;">
                    <div id="u2751"><!-- simple frame --></div>
                </div>
                <img class="grpelem" id="u1246" alt="سجل"  style="cursor: pointer;" onclick="MissionItem()" src="~/Content/homePageCss/virsion/images/blank.gif"><!-- state-based BG images -->
                <div class="clip_frame grpelem" id="u1247">
                    <!-- image -->
                    <img class="block" id="u1247_img" src="~/Content/homePageCss/virsion/images/logo-crop-u1247.png" alt="" width="211" height="191">
                </div>
                 <img class="grpelem" style="cursor: pointer;" id="u2356" alt="متابعة طلب" onclick="QueryOpen()" src="~/Content/homePageCss/virsion/images/blank.gif"><!-- state-based BG images -->
                <img class="grpelem" style="cursor: pointer;" id="u2754"  onclick="Login()" alt="تسجيل الدخول" src="~/Content/homePageCss/virsion/images/blank.gif"><!-- state-based BG images -->
                <img class="grpelem" id="u2766-4" alt="منصة أمانتك" width="202" height="62" src="~/Content/homePageCss/virsion/images/u2766-4.png"><!-- rasterized frame -->
            </div>
            <img class="colelem" id="u1266-4" alt="خدمات أمانتك" width="339" height="59" src="~/Content/homePageCss/virsion/images/u1266-4.png"><!-- rasterized frame -->
            <div class="colelem" id="u1267"><!-- simple frame --></div>
            <div class="clearfix colelem" id="pu1329">
                <!-- group -->
                <div class="browser_width grpelem" id="u1329-bw" style="height: 403px;">
                    <div class="museBGSize" id="u1329" style="background-attachment: fixed;">
                        <!-- column -->
                        <div class="clearfix" id="u1329_align_to_page">
                            <div class="clip_frame colelem" id="u1351">
                                <!-- image -->
                                <img class="block" id="u1351_img" src="~/Content/homePageCss/virsion/images/qoute.png" alt="" width="48" height="46">
                            </div>
                            <div class="PamphletWidget clearfix colelem wp-slideshow-playing" id="pamphletu1330" data-contentlayout="stack" data-transitionstyle="fading">
                                <!-- none box -->
                                <div class="ThumbGroup clearfix grpelem" id="u1345" role="tablist">
                                    <!-- none box -->
                                    <div class="popup_anchor" id="u1346popup">
                                        <div class="Thumb popup_element rounded-corners wp-tab-active PamphletThumbSelected" id="u1346" role="tab" tabindex="0" aria-selected="true" aria-controls="u1340" style=""><!-- simple frame --></div>
                                    </div>
                                    <div class="popup_anchor" id="u1348popup">
                                        <div class="Thumb popup_element rounded-corners" id="u1348" role="tab" tabindex="-1" aria-selected="false" aria-controls="u1334" style=""><!-- simple frame --></div>
                                    </div>
                                    <div class="popup_anchor" id="u1347popup">
                                        <div class="Thumb popup_element rounded-corners" id="u1347" role="tab" tabindex="-1" aria-selected="false" aria-controls="u1337" style=""><!-- simple frame --></div>
                                    </div>
                                </div>
                                <div class="popup_anchor" id="u1333popup">
                                    <div class="ContainerGroup clearfix" id="u1333" style="width: 0px; height: 0px;">
                                        <!-- stack box -->
                                        <div class="Container clearfix grpelem wp-panel wp-panel-active" id="u1340" role="tabpanel" aria-labelledby="u1346" style="display: block; opacity: 0.363524;">
                                            <!-- column -->
                                            <div class="clearfix colelem" id="u1341-4">
                                                <!-- content -->
                                                <p>لا تقلق بعد اليوم فمفقوداتك في أمان</p>
                                            </div>
                                            <div class="clearfix colelem" id="u1342-3">
                                                <!-- content -->
                                                <p>&nbsp;</p>
                                            </div>
                                        </div>
                                        <div class="Container clearfix grpelem wp-panel" id="u1334" role="tabpanel" aria-labelledby="u1348" style="display: none;">
                                            <!-- column -->
                                            <div class="clearfix colelem" id="u1336-8">
                                                <!-- content -->
                                                <p>في مجتمع يقدر بأكثر من</p>
                                                <p>ثلاثة مليون مسلم</p>
                                                <p>يجتمعون في مكان واحد</p>
                                            </div>
                                            <div class="clearfix colelem" id="u1335-3">
                                                <!-- content -->
                                                <p>&nbsp;</p>
                                            </div>
                                        </div>
                                        <div class="Container clearfix grpelem wp-panel" id="u1337" role="tabpanel" aria-labelledby="u1347" style="display: block; opacity: 0.636476;">
                                            <!-- group -->
                                            <div class="clearfix grpelem" id="u1339-6">
                                                <!-- content -->
                                                <p>ستصل إليك ضالتك من</p>
                                                <p>مركز أمانتك</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="browser_width grpelem" id="u1370-bw" style="height: 749px;">
                    <div class="rgba-background" id="u1370">
                        <!-- group -->
                        <div class="clearfix" id="u1370_align_to_page">
                            <div class="clip_frame grpelem" id="u2346">
                                <!-- image -->
                                <img class="block" id="u2346_img" src="~/Content/homePageCss/virsion/images/6icon.jpg" alt="" width="62" height="60">
                            </div>
                            <div class="clearfix grpelem" id="pu1268-4">
                                <!-- column -->
                                <div class="clearfix colelem" id="u1268-4">
                                    <br /><br />
                                    <!-- content -->
                                    <p>إستلام المعثورات من العموم في المركز، وإضافتها بواسطة أحد المشغلين في المنصة مع البيانات الأساسية والتصنيف المناسب.</p>
                                </div>
                                <div class="clearfix colelem" id="u1275-4" style="font-size:20px;">
                                    <!-- content -->
                                    <p>إمكانية البحث</p>
                                </div>
                                <div class="clearfix colelem" id="u1269-4">
                                    <!-- content -->

                                    <p>إمكانية البحث المتقدم في طلبات المفقودات بواسطة الإسم، الهوية، المرجعية، الجوال، أو الإيميل. وما ينطبق منها في المعثورات.</p>
                                </div>
                            </div>
                            <div class="clip_frame grpelem" id="u2336">
                                <!-- image -->
                                <img class="block" id="u2336_img" src="~/Content/homePageCss/virsion/images/5icon.jpg" alt="" width="67" height="67">
                            </div>
                            <div class="clearfix grpelem" id="pu1272-4">
                                <!-- column -->
                                <div class="clearfix colelem" id="u1272-4">
                                    <br />
                                    <!-- content -->
                                    <p>التواصل بين المشغلين للمنصة ومقدمي الطلبات، للرد على الإستفسارات بشكل عام وكذلك لطلب المزيد من التوضيح للوصف.</p>
                                </div>
                                <div class="clearfix colelem" id="u1279-4" style="font-size:20px;">
                                    <!-- content -->
                                    <p>تسليم المعثورات لأصحابها</p>
                                </div>
                                <div class="clearfix colelem" id="u1273-4">
                                    <!-- content -->
                                    <p>تسليم المعثورات لصاحب العلاقة أو من ينوب عنه بعد المطابقة، وعمل الإجراءات المناسبة بحسب التصنيف، ثم إغلاق الطلب.</p>
                                </div>
                            </div>
                            <div class="clip_frame grpelem" id="u2326">
                                <!-- image -->
                                <img class="block" id="u2326_img" src="~/Content/homePageCss/virsion/images/4icon.jpg" alt="" width="62" height="62">
                            </div>
                            <div class="clearfix grpelem" id="pu1270-4">
                                <!-- column -->
                                <div class="clearfix colelem" id="u1270-4">
                                    <br /><br />
                                    <!-- content -->
                                    <p>تسجيل طلب المفقودات في المنصة بواسطة صاحب العلاقة أو من ينوب عنه، ثم المتابعة للحالة من خلال الموقع والإشعارات.</p>
                                </div>
                                <div class="clearfix colelem" id="u1277-4" style="font-size:20px;">
                                    <!-- content -->
                                    <p>التواصل مع الجهات ذات الاهتمام</p>
                                </div>
                                <div class="clearfix colelem" id="u1271-4">
                                    <!-- content -->
                                    <p>التواصل مع الجهات المعنية بخصوص المعثورات بحسب تصنيفها، في حال كانت ذات حساسية عالية أو أوراق ثبوتية ضرورية.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix grpelem" id="u1274-4">
                    <!-- content -->
                    <p>توصيل المفقودات لاصحابها</p>
                </div>
                <div class="clearfix grpelem" id="u1276-4">
                    <!-- content -->
                    <p>تسجيل طلبات المفقودات</p><br />
                </div>
                <div class="clearfix grpelem" id="u1278-4">
                    <!-- content -->
                    <p>التواصل مع مقدمي الطلبات</p>
                </div>
                <div class="clip_frame clearfix grpelem" id="u2296">
                    <!-- image -->
                    <img class="position_content" id="u2296_img" src="~/Content/homePageCss/virsion/images/1icon.jpg" alt="" width="72" height="72">
                </div>
                <div class="clip_frame grpelem" id="u2306">
                    <!-- image -->
                    <img class="block" id="u2306_img" src="~/Content/homePageCss/virsion/images/2icon.jpg" alt="" width="80" height="73">
                </div>
                <div class="clip_frame grpelem" id="u2316">
                    <!-- image -->
                    <img class="block" id="u2316_img" src="~/Content/homePageCss/virsion/images/3icon.jpg" alt="" width="74" height="66">
                </div>
            </div>
            <div class="browser_width colelem" id="u1496-bw" style="height: 259px;">
                <div class="museBGSize" id="u1496" style="background-attachment: fixed;">
                    <!-- group -->
                    <div class="clearfix" id="u1496_align_to_page">
                        <div class="clearfix grpelem" id="pu1502">
                            <!-- group -->
                            <div class="grpelem" id="u1502"><!-- simple frame --></div>
                            <div class="grpelem" id="u1503"><!-- simple frame --></div>
                            <div class="clearfix grpelem" id="u1507-4">
                                <!-- content -->
                                <p>نقود</p>
                            </div>
                            <div class="clearfix grpelem" id="u1508-4">
                                <!-- content -->
                                <p>وثائق</p>
                            </div>
                            <div class="size_fixed grpelem" id="u2724">
                                <!-- custom html -->

                                <p class="ame-count-container"><span></span><span class="ame-counter">35</span><span>+</span></p>

                            </div>
                            <div class="size_fixed grpelem" id="u2729">
                                <!-- custom html -->

                                <p class="ame-count-container"><span></span><span class="ame-counter">56</span><span>+</span></p>

                            </div>
                        </div>
                        <div class="clearfix grpelem" id="pu1505">
                            <!-- group -->
                            <div class="grpelem" id="u1505"><!-- simple frame --></div>
                            <div class="clearfix grpelem" id="u1510-4">
                                <!-- content -->
                                <p>اكسسوارات</p>
                            </div>
                            <div class="size_fixed grpelem" id="u2719">
                                <!-- custom html -->

                                <p class="ame-count-container"><span></span><span class="ame-counter">28</span><span>+</span></p>

                            </div>
                        </div>
                        <div class="clearfix grpelem" id="pu1504">
                            <!-- group -->
                            <div class="grpelem" id="u1504"><!-- simple frame --></div>
                            <div class="grpelem" id="u1506"><!-- simple frame --></div>
                            <div class="clearfix grpelem" id="u1509-4">
                                <!-- content -->
                                <p>حقائب</p>
                            </div>
                            <div class="clearfix grpelem" id="u1511-4">
                                <!-- content -->
                                <p>أجهزة إلكترونية</p>
                            </div>
                            <div class="size_fixed grpelem" id="u2704">
                                <!-- custom html -->

                                <p class="ame-count-container"><span></span><span class="ame-counter">92</span><span>+</span></p>

                            </div>
                            <div class="size_fixed grpelem" id="u2714">
                                <!-- custom html -->

                                <p class="ame-count-container"><span></span><span class="ame-counter">15</span><span>+</span></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix colelem" id="pu2690">
                <!-- group -->
                <div class="size_fixed grpelem" id="u2690">
                    <!-- custom html -->

                    <video width="100%" height="100%" title="لماذا جاء موقع أمانتك" poster="~/Content/homePageCss/virsion/assets/ezgif.com-resize.jpg" controls="">
                        <source src="~/Content/HomePageCss/virsion/assets/4g7tr-p4isq.mp4" type="video/mp4">
                        <source src="Add File" type="video/ogg">
                        <source src="Add File" type="video/webm">
                    </video>

                </div>
                <div class="size_fixed grpelem" id="u2703">
                    <!-- custom html -->



                </div>
            </div>
        </div>
        <div class="verticalspacer" data-offset-top="2308" data-content-above-spacer="2307" data-content-below-spacer="62" style="min-height: 133px; height: calc((100vh - 2369px) - 15px);"></div>
        <div class="clearfix grpelem" id="pu1114">
            <!-- column -->
            <div class="browser_width colelem" id="u1114-bw" style="height: 630px;">
                <div class="rgba-background" id="u1114">
                    <!-- group -->
                    <div class="clearfix" id="u1114_align_to_page">
                        <a class="nonblock nontext clearfix grpelem" id="u1144-5" href="http://www.musefree.com"><!-- content --><p>© 2014&nbsp; Made with&nbsp; <span class="actAsInlineDiv normal_text" id="u1165"><!-- content --><span class="actAsDiv clip_frame excludeFromNormalFlow" id="u1159"><!-- image --><img id="u1159_img" src="images/heart.png?crc=117585526" alt="" width="11" height="9"></span></span>&nbsp; in Musefree.com</p></a>
                    </div>
                </div>
            </div>
            <div class="browser_width colelem" id="u2769-bw" style="height: 62px;">
                <div id="u2769"><!-- simple frame --></div>
            </div>
        </div>
    </div>
    <div class="preload_images">
        <img class="preload" src="~/Content/homePageCss/virsion/images/u1246-r.png" alt="">
        <img class="preload" src="~/Content/homePageCss/virsion/images/u2356-r.png" alt="">
        <img class="preload" src="~/Content/homePageCss/virsion/images/u2754-r.png" alt="">
    </div>
    <!-- JS includes -->
    <script src="~/Content/HomePageCss/assets/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/homePageCss/virsion/scripts/jquery.scrolleffects.js"></script>
    @*<script src="~/Content/homePageCss/virsion/scripts/jquery-1.8.3.min.js"></script>*@
    <script src="~/Content/HomePageCss/scripts/jquery.museoverlay.js"></script>
    @*<script src="~/Content/homePageCss/virsion/scripts/jquery.museoverlay.js"></script>*@
    <script src="~/Content/HomePageCss/virsion/scripts/jquery.musepolyfill.bgsize.js"></script>

    @*<script src="~/Content/homePageCss/virsion/scripts/jquery.musepolyfill.bgsize.js"></script>*@
    <script src="~/Content/homePageCss/virsion/scripts/jquery.scrolleffects.js"></script>
    <script src="~/Content/homePageCss/virsion/scripts/jquery.watch.js"></script>
    @*<script src="~/Content/homePageCss/virsion/scripts/museutils.js"></script>*@
    <script src="~/Content/HomePageCss/scripts/museutils.js"></script>
    @*<script src="~/Content/homePageCss/virsion/scripts/musewpslideshow.js"></script>*@
    <script src="~/Content/HomePageCss/virsion/scripts/musewpslideshow.js"></script>
    <script src="~/Content/homePageCss/virsion/scripts/whatinput.js"></script>
    <script src="~/Content/homePageCss/virsion/scripts/webpro.js"></script>
    <script src="~/Content/homePageCss/virsion/scripts/touchswipe.js"></script>
    <script src="~/Content/HomePageCss/scripts/require.js"></script>
    
    <!-- Other scripts -->
    <script type="text/javascript">
        // Decide whether to suppress missing file error or not based on preference setting
        var suppressMissingFileError = false
    </script>
     
    <!--HTML Widget code-->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script type="text/javascript">
        !function (t) { "use strict"; t.fn.countUp = function (e) { var a = t.extend({ time: 2e3, delay: 10 }, e); return this.each(function () { var e = t(this), n = a, u = function () { e.data("counterupTo") || e.data("counterupTo", e.text()); var t = parseInt(e.data("counter-time")) > 0 ? parseInt(e.data("counter-time")) : n.time, a = parseInt(e.data("counter-delay")) > 0 ? parseInt(e.data("counter-delay")) : n.delay, u = t / a, r = e.data("counterupTo"), o = [r], c = /[0-9]+,[0-9]+/.test(r); r = r.replace(/,/g, ""); for (var d = (/^[0-9]+$/.test(r), /^[0-9]+\.[0-9]+$/.test(r)), s = d ? (r.split(".")[1] || []).length : 0, i = u; i >= 1; i--) { var p = parseInt(Math.round(r / u * i)); if (d && (p = parseFloat(r / u * i).toFixed(s)), c) for (; /(\d+)(\d{3})/.test(p.toString());)p = p.toString().replace(/(\d+)(\d{3})/, "$1,$2"); o.unshift(p) } e.data("counterup-nums", o), e.text("0"); var f = function () { e.text(e.data("counterup-nums").shift()), e.data("counterup-nums").length ? setTimeout(e.data("counterup-func"), a) : (delete e.data("counterup-nums"), e.data("counterup-nums", null), e.data("counterup-func", null)) }; e.data("counterup-func", f), setTimeout(e.data("counterup-func"), a) }; e.waypoint(u, { offset: "100%", triggerOnce: !0 }) }) } }(jQuery);
    </script>

    <script>
        $(document).ready(function () {
            $('.ame-counter').countUp({
                'time': 3000,
                'delay': 10
            });

        });
     </script>


    <script>
        function MissionItem() {
            @*window.open("@Url.Action("QueryForItem", "Home",new { @serialNumber= "0151117914" },null)");*@
            window.open("@Url.Action("CreateItemMission", "Home")");
        }

           function QueryOpen() {
            window.open("@Url.Action("QueryForItem", "Home")")

        }

           function Login() {
            window.open("@Url.Action("Login", "Account")")

        }
    </script>
</body>
</html>
